<!DOCTYPE html>
{% load static %}
{% include 'base/navigation-bar.html' %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <title>{% block title %}{% endblock title %} | IQ-Collections.Store</title>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-hexashop.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
</head>

<body>
    <br>
    <br>

   <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="{% static 'assets/images/about-left-image.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>About Us &amp; Our Skills</h4>
                        <span>Welcome to IQ Collection.store, your one-stop destination for premium collections that blend style, quality, and uniqueness.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>We believe in offering products that not only meet your expectations but exceed them, making every purchase a memorable experience.</p>
                        </div>
                        <p>At IQ Collection.store, we specialize in curating an exclusive range of items designed to cater to diverse tastes and preferences. Our team is dedicated to sourcing high-quality products while ensuring exceptional customer service. Whether you’re looking for fashion, accessories, or lifestyle essentials, we strive to bring you the best. Your satisfaction is our top priority, and we are committed to making your shopping journey enjoyable and fulfilling.</p>
                        <ul>
                            <li><a href="https://web.facebook.com/marketplace/item/1693007384815853/?mibextid=6ojiHh&_rdc=1&_rdr#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/iq_collections.store/profilecard/?igsh=MTYxamxhbmtuZnBkNw%3D%3D"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://wa.me/+923404347000"><i class="fa fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->

    {% include 'base/scripts.html' %}
    {% include 'base/footer.html' %}

</body>

</html>